@import "tailwindcss";

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: normal;
  src: url("./fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

body {
  font-family: "Spoqa Han Sans Neo";
}
